@media (max-width: 760px) {
    .header {
        height: 100vh;
    }
    .header__nav {
        display: none;
    }
    .header__button {
        display: none;
    }
    .header__container {
        background: black;
        padding: 5px;
        margin-bottom: 25px;
    }
    .header__article {
        display: flex;
        flex-direction: column;
    }
    .header__articleTopic {
        margin: 0;
        font-size: 1.7em;
        font-weight: 400;
        text-align: center;
    }
    .header__articleDescription {
        font-size: 1em;
        text-align: center;
    }
    .header__articleButtonContainer {
        text-align: center;
    }
    .header__articleButton {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .header__photoContainer {
        text-align: center;
    }
    .header__photoImage {
        width: 100%;
    }
    .offer {
        margin-top: 75px;
    }
    .offer__topic {
        padding: 10px;
        margin-top: 150px;
        font-size: 1.7em;
    }
    .offer__container {
        flex-direction: column;
        margin: 0 auto;
    }
    .offer__icon {
        padding: 10px;
    }
    .offer__text {
        font-size: 1em;
        margin-bottom: 30px;
        max-width: 60%;
    }
    .offer__header {
        margin-top: 50px;
    }
    .features {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .features__container {
        max-width: 90%;
        text-align: center;
    }
    .features__picture {
        margin-top: 50px;
        width: 100%;
    }
    .features__containerPicture {
        text-align: center;
    }
}