@media (min-width: 1px) and (max-width: 760px) {
    .header {
        height: 100vh;
    }
    .header__button {
        display: none;
    }
    .header__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 30vh;
        padding: 0;
        padding-bottom: 10px;
    }
    .header__listItem {
        text-align: center;
        margin-right: 0;
    }
    .header__container {
        background: black;
        margin-bottom: 25px;
    }
    .header__article {
        display: flex;
        flex-direction: column;
    }
    .header__articleTopic {
        margin: 0;
        font-size: 1.7em;
        font-weight: 400;
        text-align: center;
    }
    .header__articleDescription {
        font-size: 1em;
        text-align: center;
    }
    .header__articleButtonContainer {
        text-align: center;
    }
    .header__articleButton {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .header__photoContainer {
        text-align: center;
    }
    .header__photoImage {
        width: 95%;
        margin-bottom: 100px;
    }
    .offer {
        margin-top: 75px;
    }
    .offer__topic {
        padding: 10px;
        margin-top: 125px;
        font-size: 1.7em;
    }
    .offer__container {
        flex-direction: column;
        margin: 0 auto;
        padding-top: 20px;
    }
    .offer__icon {
        padding: 10px;
    }
    .offer__text {
        font-size: 1em;
        margin-bottom: 30px;
        max-width: 60%;
    }
    .offer__header {
        margin-top: 80px;
    }
    .features {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .features__container {
        max-width: 90%;
        text-align: center;
    }
    .features__picture {
        margin-top: 50px;
        width: 100%;
    }
    .features__containerPicture {
        text-align: center;
    }
    *, *::before, *::after {
        box-sizing: inherit;
    }
    .hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
    }
    .hamburger, .navigation {
        transition: transform .3s .1s ease-in-out;
    }
    .hamburger__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    .hamburger__inner {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .1s .2s ease-in-out;
    }
    .hamburger__inner::before, .hamburger__inner::after {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        content: '';
        left: 0;
        transition: transform .2s .2s ease-in-out;
    }
    .hamburger__inner::before {
        top: -10px;
    }
    .hamburger__inner::after {
        top: 10px;
    }
    .hamburger--active .hamburger__inner {
        background-color: transparent;
    }
    .hamburger--active .hamburger__inner:before {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger--active .hamburger__inner:after {
        transform: translateY(-10px) rotate(-45deg);
    }
    .navigation {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-350px);
    }
    .navigation--active {
        transform: translateX(0px);
    }
    .navigation__list {
        margin-top: 50px;
        list-style: none;
    }
    .navigation__item {
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .review {
        position: relative;
        text-align: center;
        color: white;
    }
    .review__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(66, 148, 202, 0.87);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .review__image {
        width: 100%;
        background-position: center;
        height: 400px;
    }
    .review__header {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: bold;
        letter-spacing: 0;
    }
    .review__description {
        line-height: 1;
        padding: 10px 20px 10px;
    }
    .review__opinion {
        font-weight: normal;
    }
    .price__description {
        padding: 0 20px;
    }
    .price__container {
        flex-direction: column;
    }
    .download {
        flex-direction: column;
    }
    .download__containerImages {
        display: flex;
        flex-direction: column;
    }
    .download__text {
        font-size: 32px;
        text-align: center;
        padding: 0 20px;
    }
    .download__apple {
        text-align: center;
    }
    a {
        margin: 0 auto;
    }
    .download__googlePlay {
        margin-top: 10px;
    }
    .download__text {
        margin-bottom: 0;
    }
    .link {
        display: flex;
        flex-direction: column;
    }
    .link {
        height: 950px;
        align-items: flex-start;
        padding: 20px;
    }
    .price__section, .price__sectionMain {
        padding: 15px;
    }
}

@media (min-width: 761px) and (max-width: 900px) {
    *, *::before, *::after {
        box-sizing: inherit;
    }
    .header__button {
        display: none;
    }
    .hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
    }
    .hamburger, .navigation {
        transition: transform .3s .1s ease-in-out;
    }
    .hamburger__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    .hamburger__inner {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .1s .2s ease-in-out;
    }
    .hamburger__inner::before, .hamburger__inner::after {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        content: '';
        left: 0;
        transition: transform .2s .2s ease-in-out;
    }
    .hamburger__inner::before {
        top: -10px;
    }
    .hamburger__inner::after {
        top: 10px;
    }
    .hamburger--active .hamburger__inner {
        background-color: transparent;
    }
    .hamburger--active .hamburger__inner:before {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger--active .hamburger__inner:after {
        transform: translateY(-10px) rotate(-45deg);
    }
    .navigation {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(-350px);
    }
    .navigation--active {
        transform: translateX(0px);
    }
    .navigation__list {
        margin-top: 30px;
        list-style: none;
    }
    .navigation__item {
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .header__link {
        font-size: 20px;
    }
    .grid2x2 {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .grid2x2>div {
        display: flex;
        flex-basis: calc(50% - 40px);
        justify-content: center;
        flex-direction: column;
    }
    .grid2x2>div>div {
        display: flex;
        flex-direction: row;
    }
    .box {
        margin: 20px;
    }
    .review__text {
        height: 604px;
    }
    .review__image {
        height: 600px;
    }
    .download__text {
        padding-left: 20px;
    }
    .download__apple {
        margin-bottom: 10px;
    }
    .link {
        height: 600px;
    }
    .features__containerPicture {
        text-align: center;
        padding: 30% 0;
    }
    .features__topic, .features__description, .feautres__containerButton {
        text-align: center;
    }
    .features__container {
        padding-left: 40px;
    }
    .features {
        margin: 0;
    }
}