.review {
    position: relative;
    text-align: center;
    color: white;
}

.review__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(66, 148, 202, 0.87);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.review__image {
    width: 100%;
}

.review__header {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}

.review__description {
    line-height: 2;
    padding: 0 150px;
    padding-bottom: 50px;
}

.review__opinion {
    font-weight: bold;
}